<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">About Us</h1>
    </div>
    <div class="row">
        <div class="col-md-10">
            <h3>Mission Statement</h3>
            <p id="mission"></p>
            <h3>My Skills</h3>
            <p id="skill1"></p>
            <p id="skill2"></p>
            <p id="skill3"></p>
            <h3>My solutions</h3>
            <p id="solution1"></p>
            <p id="solution2"></p>
            <p id="solution3"></p>
        </div>
    </div>
</div>