<!-- Jumbotron -->
<div class="jumbotron">

  <div class="container">
    <div class="col-md-10 offset-md-1">
      <!-- <h1 class="display-4">Riaz Ahmed's Mini Portfolio </h1> -->
      <h1 id="portfolio" class="display-4">Riaz Ahmed's Mini
         Portfolio
      </h1>
      <!-- <p id="portfolio"></p> -->
      <p class="lead"></p>
      <hr class="my-4">
    </div>
  </div>

  <!-- Project data -->
  <div class="container">

    <!-- Example row of columns -->
    <div class="row">

      <div class="col-md-7 offset-md-1">
        <article>
          <!-- <h2>Skillset</h2> -->
          <h2 id="skillset">Skillset</h2>

          <p id="skill1"></p>
          <!-- <p>FileMaker Developer - Develop Cross-Platform Custom Apps</p> -->

          <p id="skill2"></p>
          <!-- <p>Software Business Analyst - Use state of the art UML methodology and Prototyping</p> -->

          <p id="skill3"></p>
          <!-- <p>Software Quality Analyst </p> -->

          <h3 id="swsd"> Software Solutions Developed:</h3>
          <!-- <h3>Software Solutions Developed:</h3> -->

          <p id="solution1"></p>
          <!-- <p>Drug Information App</p> -->

          <p id="solution2"></p>
          <!-- <p>Patient Care App</p> -->

          <p id="solution3"></p>
          <!-- <p>Custom Email App</p> -->



          <!-- <hr class="my-4"> -->
        </article>
      </div>
      <div class="col-md-3">
        <h2></h2>
        <p>
          <img src="/Assets/images/RiazAhmed.jpeg" title="Riaz Ahmed Photo" width="250" height="300">
        </p>
        <!-- <p>Mission: To develop robust quality, reasonably priced Custom Business Apps in the fast paced modern world of today </p> -->
        <p id="mission"></p>
      </div>
    </div>
    <!-- /container -->
  </div>

</div>