<!-- Jumbotron -->

<!-- Project data -->
<div class="container">
    <div class="row justify-content-center">
        <h1 id="myprojects">Projects Successfully Completed </h1>
    </div>

    <!-- Project1 -->
    <!--Card1 -->


    <div class="container">
        <div class="jumbotron">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="card">
                        <div class="card-body">


                            <!-- Card  -->

                            <div class="row">
                                <div class="col-md-6">
                                    <h2 id="name1"></h2>
                                    <p id="detail1"></p>
                                    <!-- <p>Tracking the progress of physicians being trained in bedside ultrasound is critical to ensure accurate diagnosis and quality patient care. Modern Hospital’s IMBUS Program has streamlined this process, improving the accuracy and efficiency of the training process with a custom solution created using the FileMaker Platform. </p> -->

                                </div>
                                <div class="col-md-6">
                                    <h2></h2>
                                    <p>
                                        <img src="/Assets/images/patientcare.jpg" title="patient care" width="350" height="250">
                                    </p>
                                    <p> </p>

                                </div>
                                <hr>
                            </div>
                            <!-- /container -->
                            <!-- Example row of columns -->
                            <div class="row">
                                <br>
                                <br>
                                <div class="col-md-6">
                                    <h2></h2>
                                    <p>
                                        <img src="/Assets/images/summer-treats-summer-snacks.jpg" title="Summer Snow Juice App" width="350" height="250">
                                    </p>


                                </div>
                                <div class="col-md-6">
                                    <h2 id="name2"></h2>
                                    <!-- <h2>Summer Snow Juice App</h2> -->
                                    <!-- <p id="app2"></p> -->
                                    <p id="detail2"></p>

                                    <!-- <p>Family farm uses custom app to manage sales, production, and employee scheduling. Fewer bookkeeping errors and production efficiency gains give Summer Snow Juice a competitive edge. Today the app does the administrative work of three full-time employees, allowing the company’s office staff to stay the same size despite a 7x increase in production output. </p> -->

                                </div>
                                <hr>
                            </div>
                            <!-- /container -->
                            <!-- Project1 -->
                            <div class="row">
                                <div class="col-md-6">
                                    <h2 id="name3"></h2>
                                    <!-- <h2>Project Management App</h2> -->
                                    <!-- <p id="app3"></p> -->
                                    <p id="detail3"></p>
                                    <!-- <p>Our client replaces ad-hoc mix of spreadsheets, paper, and packaged software offerings with three custom apps built on the FileMaker Platform. The apps manage incoming pitches, calendars, project management, and client ad approvals. It reduced operational costs. Custom app helps our client save $405k annually in operating costs.</p> -->

                                </div>
                                <div class="col-md-6">
                                    <h2></h2>
                                    <p>
                                        <img src="/Assets/images/Project2.png" title="Project Management App" width="350" height="250">
                                    </p>
                                    <p> </p>

                                </div>
                                <hr>
                            </div>
                            <!-- /container -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>